#### Exploring the Item Categories , Shops and Items

In [1]:
import numpy as np
import pandas as pd

In [2]:
items = pd.read_pickle('data/items_en.pkl')
shops = pd.read_pickle('data/shops_en.pkl')
item_categories = pd.read_pickle('data/item_categories_en.pkl')

### Item Categories

In [3]:
item_categories['split'] = item_categories['item_category_name'].str.split('-')
item_categories['type'] = item_categories['split'].map(lambda x: x[0].strip())
item_categories['subtype'] = item_categories['split'].map(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())
item_categories.drop(['split','split'], axis=1, inplace=True)

In [4]:
item_categories['split'] = item_categories['item_cat_name_en'].str.split('-')
item_categories['type_en'] = item_categories['split'].map(lambda x: x[0].strip())
item_categories['subtype_en'] = item_categories['split'].map(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())
item_categories.drop(['split','split'], axis=1, inplace=True)

In [5]:
item_categories.head(10)

,item_category_name,item_category_id,item_cat_name_en,type,subtype,type_en,subtype_en
0,PC - Гарнитуры/Наушники,0,PC - Headsets / Headphones,PC,Гарнитуры/Наушники,PC,Headsets / Headphones
1,Аксессуары - PS2,1,Accessories - PS2,Аксессуары,PS2,Accessories,PS2
2,Аксессуары - PS3,2,Accessories - PS3,Аксессуары,PS3,Accessories,PS3
3,Аксессуары - PS4,3,Accessories - PS4,Аксессуары,PS4,Accessories,PS4
4,Аксессуары - PSP,4,Accessories - PSP,Аксессуары,PSP,Accessories,PSP
5,Аксессуары - PSVita,5,Accessories - PSVita,Аксессуары,PSVita,Accessories,PSVita
6,Аксессуары - XBOX 360,6,Accessories - XBOX 360,Аксессуары,XBOX 360,Accessories,XBOX 360
7,Аксессуары - XBOX ONE,7,Accessories - XBOX ONE,Аксессуары,XBOX ONE,Accessories,XBOX ONE
8,Билеты (Цифра),8,Tickets (Digit),Билеты (Цифра),Билеты (Цифра),Tickets (Digit),Tickets (Digit)
9,Доставка товара,9,Delivery of goods,Доставка товара,Доставка товара,Delivery of goods,Delivery of goods

In [6]:
item_categories['type_en'].unique()

array(['PC', 'Accessories', 'Tickets (Digit)', 'Delivery of goods',
       'Game Consoles', 'Game consoles', 'Games', 'Android Games',
       'MAC Games', 'PC Games', 'Payment cards (Cinema, Music, Games)',
       'Payment Cards', 'Cinema', 'Books', 'Music', 'Gifts', 'Programs',
       'Office', 'Service', 'Net carriers (spire)', 'Blank media (piece)',
       'Batteries'], dtype=object)

In [7]:
print('Number of category types in the item category',len(item_categories['type_en'].unique()))

Number of category types in the item category 22

In [8]:
item_categories['subtype_en'].unique()

array(['Headsets / Headphones', 'PS2', 'PS3', 'PS4', 'PSP', 'PSVita',
       'XBOX 360', 'XBOX ONE', 'Tickets (Digit)', 'Delivery of goods',
       'Other', 'Accessories for games', 'Number', 'Digit',
       'Additional Editions', "Collector's Editions", 'Standard Editions',
       'Payment cards (Cinema, Music, Games)', 'Live!', 'Live! (Numeral)',
       'PSN', 'Windows (Digit)', 'Blu', 'DVD', 'Collectible',
       'Artbooks, Encyclopedias', 'Audiobooks', 'Audiobooks (Digit)',
       'Audiobooks 1C', 'Business Literature', 'Comics, Manga',
       'Computer Literature', 'Methodological materials 1C', 'Postcards',
       'Educational literature', 'Guides', 'Fiction',
       'Local Production CD', 'Brand', 'MP3', 'Vinyl', 'Music Video',
       'Gift Editions', 'Attributes', 'Gadgets, Robots, Sports',
       'Soft Toys', 'Board Games', 'Board games (compact)',
       'Postcards, stickers', 'Development', 'Certificates, services',
       'Souvenirs', 'Souvenirs (in bulk)', 'Bags, Albums, Mousepads',
       'Figures', '1C: Enterprise 8', 'MAC (Digit)',
       'For home and office', 'For home and office (Digit)',
       'Educational', 'Educational (Digital)', 'Office', 'Tickets',
       'Net carriers (spire)', 'Blank media (piece)', 'Batteries'],
      dtype=object)

In [9]:
print('Number of category subtypes in the item category',len(item_categories['subtype_en'].unique()))

Number of category subtypes in the item category 66

### Shops

In [10]:
shops['city'] = shops['shop_name'].str.split(' ').map(lambda x: x[0])

In [11]:
shops['city_en'] = shops['shop_name_en'].str.split(' ').map(lambda x: x[0])

In [12]:
#removing !
shops.loc[shops.city == '!Якутск', 'city'] = 'Якутск'

In [13]:
shops.head()

,shop_name,shop_id,shop_name_en,city,city_en
0,"!Якутск Орджоникидзе, 56 фран",0,"! Yakutsk Ordzhonikidze, 56 fran",Якутск,!
1,"!Якутск ТЦ ""Центральный"" фран",1,"! Yakutsk shopping center ""Central"" fran",Якутск,!
2,"Адыгея ТЦ ""Мега""",2,"Adygea TC ""Mega""",Адыгея,Adygea
3,"Балашиха ТРК ""Октябрь-Киномир""",3,"Balashikha TRC ""October-Kinomir""",Балашиха,Balashikha
4,"Волжский ТЦ ""Волга Молл""",4,"Volga shopping center ""Volga Mall""",Волжский,Volga

In [14]:
shops['city'].unique()

array(['Якутск', 'Адыгея', 'Балашиха', 'Волжский', 'Вологда', 'Воронеж',
       'Выездная', 'Жуковский', 'Интернет-магазин', 'Казань', 'Калуга',
       'Коломна', 'Красноярск', 'Курск', 'Москва', 'Мытищи', 'Н.Новгород',
       'Новосибирск', 'Омск', 'РостовНаДону', 'СПб', 'Самара', 'Сергиев',
       'Сургут', 'Томск', 'Тюмень', 'Уфа', 'Химки', 'Цифровой', 'Чехов',
       'Ярославль'], dtype=object)

In [15]:
print('Number of cities the shops are present',len(shops['city'].unique()))

Number of cities the shops are present 31

In [16]:
shops.loc[shops['shop_id'].isin([0,57,1,58,10,11])]

,shop_name,shop_id,shop_name_en,city,city_en
0,"!Якутск Орджоникидзе, 56 фран",0,"! Yakutsk Ordzhonikidze, 56 fran",Якутск,!
1,"!Якутск ТЦ ""Центральный"" фран",1,"! Yakutsk shopping center ""Central"" fran",Якутск,!
10,Жуковский ул. Чкалова 39м?,10,Zhukovsky st. Chkalova 39m?,Жуковский,Zhukovsky
11,Жуковский ул. Чкалова 39м²,11,Zhukovsky st. Chkalova 39m²,Жуковский,Zhukovsky
57,"Якутск Орджоникидзе, 56",57,"Yakutsk Ordzhonikidze, 56",Якутск,Yakutsk
58,"Якутск ТЦ ""Центральный""",58,"Yakutsk shopping center ""Central""",Якутск,Yakutsk

#### based on the shop name the above are the duplicate shops present in the shops dataset

### Items

In [17]:
items.head(100)

,item_name,item_id,item_category_id,item_name_en
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40,! IN AUTHORITY OF HAVING (PLASTIC) D
1,!ABBYY FineReader 12 Professional Edition Full...,1,76,! ABBYY FineReader 12 Professional Edition Ful...
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40,*** IN THE RAYS OF GLORY (UNV) D
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40,*** BLUE WAVE (Univ) D
4,***КОРОБКА (СТЕКЛО) D,4,40,*** BOX (GLASS) D
...,...,...,...,...
95,1812. ЭНЦИКЛОПЕДИЯ ВЕЛИКОЙ ВОЙНЫ,95,40,1812. ENCYCLOPEDIA OF THE GREAT WAR
96,1812. ЭНЦИКЛОПЕДИЯ ВОЙНЫ (регион),96,40,1812. ENCYCLOPEDIA OF WAR (region)
97,1812: 4 СЕРИИ (регион),97,40,1812: 4 SERIES (region)
98,1812: УЛАНСКАЯ БАЛЛАДА,98,40,1812: ULAN BALLAD
99,1812: УЛАНСКАЯ БАЛЛАДА (BD),99,37,1812: ULANA BALLADA (BD)

In [18]:
#Already we know what these items belong to the types and subtypes