# Translating Russian to English

In [1]:
import numpy as np
import pandas as pd
import os
from textblob import TextBlob

In [2]:
PATH_TO_DATA = 'data/predict_future_sales'
items = pd.read_csv(os.path.join(PATH_TO_DATA, 'items.csv'))
item_categories = pd.read_csv(os.path.join(PATH_TO_DATA, 'item_categories.csv'))
shops = pd.read_csv(os.path.join(PATH_TO_DATA, 'shops.csv'))

In [3]:
def translate_en(X):
    russian_blob = TextBlob(X)
    try:
        return str(russian_blob.translate(from_lang="ru", to='en'))
    except:
        X

In [4]:
items.head(10)

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
5,***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ (UNI) ...,5,40
6,***УДАР ПО ВОРОТАМ (UNI) D,6,40
7,***УДАР ПО ВОРОТАМ-2 (UNI) D,7,40
8,***ЧАЙ С МУССОЛИНИ D,8,40
9,***ШУГАРЛЭНДСКИЙ ЭКСПРЕСС (UNI) D,9,40

In [13]:
%%time
items['item_name_en'] = items['item_name'].apply(translate_en)

CPU times: user 1min 14s, sys: 15.4 s, total: 1min 29s
Wall time: 3h 15min 10s

In [ ]:
items.head()

In [5]:
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [7]:
%%time
item_categories['item_cat_name_en'] = item_categories['item_category_name'].apply(translate_en)

CPU times: user 170 ms, sys: 25.6 ms, total: 196 ms
Wall time: 7.96 s

In [8]:
item_categories.head()

        item_category_name  item_category_id            item_cat_name_en
0  PC - Гарнитуры/Наушники                 0  PC - Headsets / Headphones
1         Аксессуары - PS2                 1           Accessories - PS2
2         Аксессуары - PS3                 2           Accessories - PS3
3         Аксессуары - PS4                 3           Accessories - PS4
4         Аксессуары - PSP                 4           Accessories - PSP

In [9]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [10]:
%%time
shops['shop_name_en'] = shops['shop_name'].apply(translate_en)

CPU times: user 128 ms, sys: 11.3 ms, total: 139 ms
Wall time: 10.2 s

In [11]:
shops.head()

,shop_name,shop_id,shop_name_en
0,"!Якутск Орджоникидзе, 56 фран",0,"! Yakutsk Ordzhonikidze, 56 fran"
1,"!Якутск ТЦ ""Центральный"" фран",1,"! Yakutsk shopping center ""Central"" fran"
2,"Адыгея ТЦ ""Мега""",2,"Adygea TC ""Mega"""
3,"Балашиха ТРК ""Октябрь-Киномир""",3,"Balashikha TRC ""October-Kinomir"""
4,"Волжский ТЦ ""Волга Молл""",4,"Volga shopping center ""Volga Mall"""

In [14]:
items.to_pickle('data/items_en.pkl')

In [12]:
item_categories.to_pickle('data/item_categories_en.pkl')
shops.to_pickle('data/shops_en.pkl')